<div class="footer navbar-fixed-bottom">
  <div class="container">

        <address>
          <a href="#">Find Sponsor</a>
          <i> by Vadim Petkevich 2015 </i>
        </address>

      </p>
    </div>
</div>
