<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Find Sponsor</a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", '#' %></li>
          <li><%= link_to "About", '#' %></li>
          <li><%= link_to "Help", '#' %></li>
        </ul>
      </div>
    </div>
</header>
